.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.text-menu{
    color: white;
}

.menu h1{
    margin: 0px;
}

.div-buttoms{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttom-temp{
    width: 33px;
    font-weight: bold;
    padding: 0;
    color: grey;
}
