.app-layout{
  height: 100%;
}

.content-layout{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #7D91BC; */
  background-image: linear-gradient(to bottom right, #414756, #A5ABBD);
}
